
{% extends 'default/base.html' %}
{% load staticfiles %}
{% block content %}
        {% if apply_num > 0 %}
        <div class="col-md-8">
          <div class="col-md-7"> <font size=5> <b>我收到的申请</b> </font>  </div>
          <div class="col-md-3">
{#            <a href="{% url 'book:addbook' %}" class="btn btn-sm btn-info"  role="button">去催书》#}
              <font size="5" >共计：</font> <font size='4' color="#dc143c">{{  apply_num }}</font>
          </div>

          <div class="col-md-12"> <hr/></div>

          {% for book in apply_list %}
            <div class="col-md-3 libray_book">
            <a href="/book/{{ book.id }}">
                <img src="{{book.imgurl}}" class="img-polaroid book_img"> </img>
                <h4>{{ book.title }} </h4>
            </a>
                申请时间：<br> <font sieze = '5' color="#8b0000">{{ book.createtime }} </font><br>
              {% if book.status == 0 %}
              <a href="/book/approve_borrow/{{book.id}}" class="btn btn-sm btn-info">同意</a>
              <a href="/book/refuse_borrow/{{book.id}}" class="btn btn-sm btn-info">不同意</a>
              {% elif book.status == 1 %}
                已拒绝借出:<br>拒绝时间：<br> <font sieze = '5' color="#8b0000">{{ book.updatetime }}</font>
              {% elif book.status == 2 %}
                已同意借出:<br>同意时间：<br> <font sieze = '5' color="#8b0000">{{ book.updatetime }}</font>
              {% elif book.status == 4 %}
               同意时间：<br> <font sieze = '5' color="#8b0000">{{ book.agreetime }}</font><br>
               <strong><font color="#006400">已经归还</font></strong> <br>归还时间：<br> <font sieze = '5' color="#8b0000">{{ book.updatetime }}</font>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% endif %}
            <div id="pagination" class="pagination col-md-9">
                <span class="step-links">
                    {% if apply_list.has_previous %}
                        <a href="/book/apply/page/{{ apply_list.previous_page_number }}/">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ apply_list.number }} of {{ apply_list.paginator.num_pages }}.
                    </span>

                    {% if apply_list.has_next %}
                        <a href="/book/apply/page/{{ apply_list.next_page_number }}/">next</a>
                    {% endif %}
                </span>
            </div>
        </div>



{% endblock %}

