
{% extends 'default/base.html' %}
{% load staticfiles %}
{% block content %}
        {% if book_num == 0 %}
          你的书库中还没有书，赶快去添加一些吧！
          <a href="{% url 'book:addbook' %}" class="btn btn-lg btn-primary" style="line-height: 1.5;"  role="button">添加书籍</a>
        {% else %}
        <div class="col-md-8">
          <div class="col-md-7"> <font size=5> <b>我的书库 </b> </font>  </div>
          <div class="col-md-2 ">
            <a href="{% url 'book:delall' %}" class="btn btn-sm btn-info"  role="button">全部下架></a>
          </div>
          <div class="col-md-2">
            <a href="{% url 'book:addbook' %}" class="btn btn-sm btn-info"  role="button">添加更多></a>
          </div>


          <div class="col-md-12"> <hr/></div>

          {% for book in book_list %}
            <div id='mybook' class="col-md-3 libray_book">
              <a href="/book/{{ book.id }}">
                <img src="{{book.imgurl}}" class="img-polaroid book_img"> </img>
                <h4>{{ book.title }} </h4>
              </a>
            </div>
          {% endfor %}
        </div>
        {% endif %}
            <div id="pagination" class="pagination col-md-9">
                <span class="step-links">
                    {% if book_list.has_previous %}
                        <a href="/book/library/page/{{ book_list.previous_page_number }}/">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ book_list.number }} of {{ book_list.paginator.num_pages }}.
                    </span>

                    {% if book_list.has_next %}
                        <a href="/book/library/page/{{ book_list.next_page_number }}/">next</a>
                    {% endif %}
                </span>
            </div>

{% endblock %}


